<div>
  <h1>{{title}}</h1>
  <Value />
  <hr />
  <Value2 />
  <hr />
  <IncrementButton />
  <DecrementButton />
</div>

<script>
  import Value from './Value.html';
  import Value2 from './Value2.html';
  import IncrementButton from './IncrementButton.html';
  import DecrementButton from './DecrementButton.html';

  export default {
    components: {
      Value,
      Value2,
      IncrementButton,
      DecrementButton
    },

    data() {
      return {
        title: 'Counter with redux-zero'
      }
    }
  };
</script>